In [13]:
import pandas as pd
import numpy as np

import osmnx as ox
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [16]:
train = pd.read_csv('train.csv')
train['type'] = 'train'
test = pd.read_csv('test.csv')
test['type'] = 'test'
data = pd.concat([train, test], ignore_index = True)
data

,id,sales_per_month,region,locality,x,y,people_iso_3,people_iso_5,people_iso_10,people_iso_15,people_iso_30,type
0,18398,2538.0,Челябинская область,Озерск,60.692229,55.761933,971,2093,10439,23027,73676,train
1,14532,1645.0,Москва,Москва,37.678559,55.702931,840,2329,15949,35836,67185,train
2,23801,3176.0,Липецкая область,Липецк,39.524007,52.589588,690,4012,22279,47864,163666,train
3,9791,4759.0,Краснодарский край,посёлок городского типа Сириус,39.957405,43.414255,49,515,2699,3710,9449,train
4,3004,2051.0,Тюменская область,Сургут,73.450188,61.237837,1416,5619,23135,50801,110709,train
...,...,...,...,...,...,...,...,...,...,...,...,...
26012,18085,NaN,Московская область,Воскресенск,38.693206,55.310078,0,0,0,0,8053,test
26013,23428,NaN,Ереван,Ереван,44.525006,40.131853,838,1136,9215,20182,47220,test
26014,11862,NaN,Лорийская область,Ванадзор,44.483527,40.811495,1234,3135,15032,28339,48335,test
26015,10382,NaN,Ереван,Ереван,44.525365,40.207058,1942,5353,23017,51741,147016,test
26016,23737,NaN,Пензенская область,село Кондоль,45.056908,52.819605,0,0,10,389,1983,test

In [11]:
import osmnx as ox
import geopandas as gpd
import pandas as pd
from tqdm import tqdm

amenity_categories = ['restaurant', 'pub', 'ice_cream', 'food_court', 'fast_food',
                      'cafe', 'biergarten', 'bar', 'atm', 'payment_terminal', 'bank',
                      'bureau_de_change', 'dentist', 'pharmacy', 'veterinary', 'casino',
                      'cinema', 'nightclub', 'stripclub', 'theatre', 'events_venue', 
                      'post_office' ,'marketplace']

amens300 = []
amens500 = []
for index, row in tqdm(data.iterrows()):
    point = (row['y'], row['x'])  # Fetch the point coordinates from each row
    
    try:
        amen_count_300 = ox.features.features_from_point(center_point=point, tags={'amenity': amenity_categories}, dist=300).amenity.count()
        amen_count_500 = ox.features.features_from_point(center_point=point, tags={'amenity': amenity_categories}, dist=500).amenity.count()
        amens300.append(amen_count_300)
        amens500.append(amen_count_500)
        
    except:
        amens300.append(0)
        amens500.append(0)

data['commercial_density_300'] = amens300
data['commercial_density_500'] = amens500

26017it [13:48:40,  1.91s/it]

In [12]:
commercial_density_300 = amens300
commercial_density_500 = amens500

new_train = data[data['type'] == 'train']
new_test = data[data['type'] == 'test']

new_train.to_csv('train_with_selected_commercial_density.csv', index = False)
new_test.to_csv('test_with_selected_commercial_density.csv', index = False)

#data.to_csv('train_with_selected_commercial_density.csv', index = False)

In [5]:
data.corr()

,id,sales_per_month,x,y,people_iso_3,people_iso_5,people_iso_10,people_iso_15,people_iso_30,commercial_density_300,commercial_density_500
id,1.000000,-0.004944,0.005716,-0.007969,0.007447,-0.001419,0.001261,-0.000117,-0.004997,-0.005478,0.003549
sales_per_month,-0.004944,1.000000,0.088249,0.047394,0.075708,0.116139,0.113531,0.081762,0.047567,0.073244,0.063280
x,0.005716,0.088249,1.000000,-0.025147,-0.097350,-0.102791,-0.086575,-0.072671,-0.071032,-0.089874,-0.095855
y,-0.007969,0.047394,-0.025147,1.000000,0.140061,0.174226,0.183909,0.173730,0.153340,0.064649,0.076108
people_iso_3,0.007447,0.075708,-0.097350,0.140061,1.000000,0.742268,0.572223,0.509858,0.447363,0.201956,0.250741
people_iso_5,-0.001419,0.116139,-0.102791,0.174226,0.742268,1.000000,0.800939,0.702452,0.592836,0.280174,0.335895
people_iso_10,0.001261,0.113531,-0.086575,0.183909,0.572223,0.800939,1.000000,0.932649,0.782951,0.388373,0.450034
people_iso_15,-0.000117,0.081762,-0.072671,0.173730,0.509858,0.702452,0.932649,1.000000,0.885141,0.405496,0.480576
people_iso_30,-0.004997,0.047567,-0.071032,0.153340,0.447363,0.592836,0.782951,0.885141,1.000000,0.382124,0.470936
commercial_density_300,-0.005478,0.073244,-0.089874,0.064649,0.201956,0.280174,0.388373,0.405496,0.382124,1.000000,0.901501
commercial_density_500,0.003549,0.063280,-0.095855,0.076108,0.250741,0.335895,0.450034,0.480576,0.470936,0.901501,1.000000