In [125]:
import pandas as pd

In [126]:
train = pd.read_csv('train.csv')
train['type'] = 'train'
test = pd.read_csv('test.csv')
test['type'] = 'test'
data = pd.concat([train, test], ignore_index=True)
data

,id,sales_per_month,region,locality,x,y,people_iso_3,people_iso_5,people_iso_10,people_iso_15,people_iso_30,type
0,18398,2538.0,Челябинская область,Озерск,60.692229,55.761933,971,2093,10439,23027,73676,train
1,14532,1645.0,Москва,Москва,37.678559,55.702931,840,2329,15949,35836,67185,train
2,23801,3176.0,Липецкая область,Липецк,39.524007,52.589588,690,4012,22279,47864,163666,train
3,9791,4759.0,Краснодарский край,посёлок городского типа Сириус,39.957405,43.414255,49,515,2699,3710,9449,train
4,3004,2051.0,Тюменская область,Сургут,73.450188,61.237837,1416,5619,23135,50801,110709,train
...,...,...,...,...,...,...,...,...,...,...,...,...
26012,18085,NaN,Московская область,Воскресенск,38.693206,55.310078,0,0,0,0,8053,test
26013,23428,NaN,Ереван,Ереван,44.525006,40.131853,838,1136,9215,20182,47220,test
26014,11862,NaN,Лорийская область,Ванадзор,44.483527,40.811495,1234,3135,15032,28339,48335,test
26015,10382,NaN,Ереван,Ереван,44.525365,40.207058,1942,5353,23017,51741,147016,test
26016,23737,NaN,Пензенская область,село Кондоль,45.056908,52.819605,0,0,10,389,1983,test

In [127]:
tree = BallTree(data[['y', 'x']])

def find_nearest_neighbor(df, location):
    dist, ind = tree.query([location], k=2)  # Find the nearest neighbor

    nearest_neighbor_index = ind[0][1]  # Index of the nearest neighbor
    nearest_neighbor = df.iloc[nearest_neighbor_index]

    # Calculate distance between points
    distance_ = distance.distance(
        (location[0], location[1]),
        (nearest_neighbor['y'], nearest_neighbor['x'])
    ).meters

    return nearest_neighbor.id, distance_

In [128]:
#test_data['Distance'] = test_data.apply(lambda row: find_nearest_neighbor(test_data, (row['y'], row['x'])), axis=1)

data['Nearest_Neighbor'], data['Distance'] = zip(*data.apply(lambda row: find_nearest_neighbor(data, (row['y'], row['x'])), axis=1))

data

,id,sales_per_month,region,locality,x,y,people_iso_3,people_iso_5,people_iso_10,people_iso_15,people_iso_30,type,Nearest_Neighbor,Distance
0,18398,2538.0,Челябинская область,Озерск,60.692229,55.761933,971,2093,10439,23027,73676,train,3844,460.793915
1,14532,1645.0,Москва,Москва,37.678559,55.702931,840,2329,15949,35836,67185,train,21488,322.982589
2,23801,3176.0,Липецкая область,Липецк,39.524007,52.589588,690,4012,22279,47864,163666,train,18140,265.599944
3,9791,4759.0,Краснодарский край,посёлок городского типа Сириус,39.957405,43.414255,49,515,2699,3710,9449,train,6957,793.737714
4,3004,2051.0,Тюменская область,Сургут,73.450188,61.237837,1416,5619,23135,50801,110709,train,23469,88.967374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26012,18085,NaN,Московская область,Воскресенск,38.693206,55.310078,0,0,0,0,8053,test,892,1650.083377
26013,23428,NaN,Ереван,Ереван,44.525006,40.131853,838,1136,9215,20182,47220,test,10976,331.613215
26014,11862,NaN,Лорийская область,Ванадзор,44.483527,40.811495,1234,3135,15032,28339,48335,test,4972,110.358306
26015,10382,NaN,Ереван,Ереван,44.525365,40.207058,1942,5353,23017,51741,147016,test,10652,86.911451
26016,23737,NaN,Пензенская область,село Кондоль,45.056908,52.819605,0,0,10,389,1983,test,17260,359.000987

In [129]:
new_train = data[data['type'] == 'train']
new_test = data[data['type'] == 'test']

new_train.to_csv('train_nearest_neighbor_distance.csv', index = False)
new_test.to_csv('test_nearest_neighbor_distance.csv', index = False)

In [131]:
data.corr()

,id,sales_per_month,x,y,people_iso_3,people_iso_5,people_iso_10,people_iso_15,people_iso_30,Nearest_Neighbor,Distance
id,1.000000,-0.004944,0.001232,-0.004413,0.002397,0.004325,0.002537,-0.000991,0.002668,0.003203,-0.003999
sales_per_month,-0.004944,1.000000,0.088249,0.047394,0.075708,0.116139,0.113531,0.081762,0.047567,-0.014743,0.032670
x,0.001232,0.088249,1.000000,-0.022070,-0.091295,-0.101890,-0.088304,-0.075664,-0.072814,-0.006643,0.106419
y,-0.004413,0.047394,-0.022070,1.000000,0.140009,0.178255,0.189887,0.176998,0.150108,-0.000262,0.005927
people_iso_3,0.002397,0.075708,-0.091295,0.140009,1.000000,0.739681,0.562955,0.497656,0.438394,0.010477,-0.150364
people_iso_5,0.004325,0.116139,-0.101890,0.178255,0.739681,1.000000,0.795702,0.695209,0.585224,0.009346,-0.189215
people_iso_10,0.002537,0.113531,-0.088304,0.189887,0.562955,0.795702,1.000000,0.932804,0.776820,0.005273,-0.214217
people_iso_15,-0.000991,0.081762,-0.075664,0.176998,0.497656,0.695209,0.932804,1.000000,0.880378,0.003883,-0.216743
people_iso_30,0.002668,0.047567,-0.072814,0.150108,0.438394,0.585224,0.776820,0.880378,1.000000,0.007607,-0.213310
Nearest_Neighbor,0.003203,-0.014743,-0.006643,-0.000262,0.010477,0.009346,0.005273,0.003883,0.007607,1.000000,-0.013301
Distance,-0.003999,0.032670,0.106419,0.005927,-0.150364,-0.189215,-0.214217,-0.216743,-0.213310,-0.013301,1.000000